@keyframes move {
	0% {
		transform: rotate(45deg) translate(0, 0);
	}

	20% {
		transform: rotate(45deg) translate(10px, 10px);
	}

	40% {
		transform: rotate(45deg) translate(0, 0);
	}
}

.js-page-transition {
	display: none;
}

@-webkit-keyframes sdb {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		-webkit-transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
}

@keyframes sdb {
	0% {
		transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		transform: rotate(-45deg) translate(0, 0);
	}
}

.mainvisualScroll {
	position: relative;
	top: 90%;
	width: 100%;

	span {
		animation: sdb 2s infinite;
		border-left: 2px solid #fff;
		border-bottom: 2px solid #fff;
		box-sizing: border-box;
		height: 24px;
		position: absolute;
		left: 0;
		margin: auto;
		right: 0;
		transform: rotate(-45deg);
		width: 24px;
		-webkit-transform: rotate(-45deg);
		-webkit-animation: sdb 2s infinite;
		-webkit-transform: rotate(-45deg);
	}
}

.openingAnime {
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;

	&_logo {
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: none;
		z-index: 9999;
		text-align: center;
		width: 300px;

		img {
			@include for-device(phone) {
				width: 60%;
			}
		}
	}

	.openingAnimeBox {
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: none;
		z-index: 9999;
		width: 80%;	

		.mainvisualHead {
			position: relative;

			&_title {
				@include font-size(70);

				color: $color-text;
				font-family: 'Noto Serif JP', serif;
				font-weight: normal;
				padding-left: 60px;
				text-align: center;

				@include for-device(phone) {
					@include font-size(30);

					padding-left: 20px;
					width: 100%;
				}

				span {
					margin-right: -40px;

					@include for-device(phone) {
						margin-right: -20px;
					}
				}
			}

			&_lead {
				@include font-size(32);

				color: $color-text;
				margin-top: 20px;
				text-align: center;

				@include for-device(phone) {
					@include font-size(20);

					margin-top: 20px;
				}
			}

			&_text {
				@include font-size(18);

				color: #323232;
				font-family: 'Noto Serif JP', serif;
				font-weight: 100;
				line-height: $line-height-body;
				margin-top: 40px;
				text-align: center;		

				@include for-device(phone) {
					@include font-size(13);	

					margin-top: 20px;
				}			
			}
		}	
	}
}