/* ==============================================

	TOP用ヘッダー

===============================================*/
.header {
	background: rgba(0, 0, 0, .10);
	height: 80px;
	width: 100%;
	z-index: 9999;

	@include for-device(phone) {
		height: 60px;
	}

	&_inner {
		@include align-items(center);
		@include display-flex();

		height: 80px;
		margin: 0 auto;
		max-width: 1200px;
		width: 100%;

		@include for-device(tablet) {
			padding: 0 20px;
			width: auto;
		}

		@include for-device(phone) {
			height: 60px;
			padding: 0 20px;
			width: auto;
		}
	}

	&_logo {
		width: 30%;

		img {
			height: 30px;
			width: auto;

			@include for-device(phone) {
				height: 22px;
			}
		}

		.is-after {
			display: none;
		}
	}

	.headerNav {
		@include display-flex();
		@include font-size(16);
		@include justify-content(flex-end);

		font-weight: bold;
		width: 70%;

		@include for-device(tablet) {
			display: none;
		}

		@include for-device(phone) {
			display: none;
		}

		li {
			&:nth-child(n+2) {
				margin-left: 40px;
			}

			a {
				color: #fff;
    			
    			&:hover {
	    			color: $color-green;
	    		}
			}

			.headerNavSocial {
				@include display-flex();

				li {
					&:nth-child(n+2) {
						margin-left: 20px;
					}

					.icon-size {
						@include font-size(20);
					}
				}
			}
		}

		.js-headerHover {
			a {
				transition: .2s;
			}
		}

		.headerNavDownArea {
			display: none;
		}

		.headerNavDown {
			@include align-items(center);
			@include display-flex();
			@include justify-content(space-between);

			background: #fff;
		    left: 0;
		    margin: auto;
		    max-width: 1000px;
		    right: 0;
		    position: fixed;
		    top: 80px;
		    width: 100%;
		    z-index: 9999;

		    .headerNavDownHead {
		    	padding-left: 5%;

		    	&_title {
		    		@include font-size(32);

		    		line-height: 1;
		    	}

		    	&_lead {
		    		@include font-size(14);

		    		line-height: 1;
		    		margin-top: 10px;
		    	}
		    }

		    .headerNavDownMenu {
		    	@include display-flex();
		    	@include justify-content(space-between);

		    	padding: 0 5%;
		    	width: 55%;

		    	.headerNavDownMenuList {
			    	li {
			    		@include font-size(15);

			    		margin: 0 0 20px;

			    		a {
			    			color: $color-text;

			    			&:hover {
			    				color: $color-green;
			    			}
			    		}
			    	}
		    	}
		    }
		}
	}

	&.is-fixed {
		background: none;
		left: 0;
		position: fixed;
		top: 0;
	}

	&.is-change {
		background: #fff;

		.header_logo {
			.is-before {
				display: none;
			}

			.is-after {
				display: block;
			}
		}

		.headerNav {
			li {
				a {
					color: $color-text;

	    			&:hover {
	    				color: $color-green;
	    			}
				}
			}
		}

		.headerNavDown {
			background: rgba(255,255,255,0.95);
		}

		.topHeaderToggle {
			span {
				background-color: $color-text;	
			}	
		}

		&.is-fixed {
			box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
		}
	}

	.topHeaderToggle {
		display: none;

		@include for-device(tablet) {
			display: block;
		}

		@include for-device(phone) {
			display: block;
		}

		span {
			background-color: #fff;
			display: block;
			height: 2px;
			position: absolute;
			right: 20px;
			width: 26px;

			&:nth-child(1) {
				top: 22px;

				@include for-device(tablet) {
					top: 30px;
				}
			}

			&:nth-child(2) {
				top: 30px;

				@include for-device(tablet) {
					top: 38px;
				}
			}

			&:nth-child(3) {
				top: 38px;

				@include for-device(tablet) {
					top: 46px;
				}
			}
		}

		&.is-active {
			span {
				transition: all 0.3s;

				&:nth-child(1) {
					top: 30px;
					transform: rotate(140deg);

					@include for-device(tablet) {
						top: 40px;
					}
				}

				&:nth-child(2) {
					display: none;
				}

				&:nth-child(3) {
					top: 30px;
					transform: rotate(-315deg);

					@include for-device(tablet) {
						top: 40px;
					}
				}
			}		
		}
	}
}

.headerrMenu {
	display: none;

	&.is-open {
		background: #fff;
		display: block;
		left: 0;
		position: fixed;
		top: 80px;
		transition: .2s;
		width: 100%;
		z-index: 8888;

		@include for-device(phone) {
			top: 60px;
		}

		.pageHeaderMenuBoxList {
			@include font-size(16);

			background: $color-light-gray;

			@include for-device(phone) {
				@include font-size(13);
			}
			
			li {
				border-top: 1px solid $color-gray;

				a {
					color: $color-text;
					display: block;
					padding: 10px 5%;
				}
			}

			&_accordion {
				padding: 10px 5%;
				position: relative;

				&::before,
				&::after {
					background: $color-green;
					border-radius: 2px;
					content: "";
					display: block;
					height: 2px;
					position: absolute;
					right: 20px;
					top: 50%;
					transform: translateY(-50%);
					width: 18px;

					@include for-device(phone) {
						height: 1px;
						right: 10px;
						width: 15px;
					}						
				}
				
				&::after {
					transform: translateY(-50%) rotate(90deg);
					transition: 0.5s;								
				} 

				&.is-active {
					background: $color-green;
					color: #fff;

					&::after {
						background: #fff;
						transform: rotate(0);
						transition: 0.5s;								
					}
				}
			}

			.is-service-menu {
				ul {
					background: #fff;
				}
			}
		}
	}
}


/* ==============================================

	pageHeader

===============================================*/
.pageHeader {
	background: #fff;
	height: 80px;
	width: 100%;
	z-index: 9999;

	@include for-device(phone) {
		height: 60px;
	}

	&.is-fixed {
		box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
		left: 0;
		position: fixed;
		top: 0;
	}

	&_inner {
		@include align-items(center);
		@include display-flex();

		height: 80px;
		margin: 0 auto;
		max-width: 1200px;
		width: 100%;

		@include for-device(tablet) {
			padding: 0 20px;
			width: auto;
		}

		@include for-device(phone) {
			height: 60px;
			padding: 0 20px;
			width: auto;
		}
	}

	&_logo {
		width: 30%;

		img {
			height: 30px;
			width: auto;

			@include for-device(phone) {
				height: 22px;
			}
		}
	}

	.pageHeaderNav {
		@include display-flex();
		@include font-size(16);
		@include justify-content(flex-end);

		font-weight: bold;
		width: 70%;

		@include for-device(tablet) {
			display: none;
		}

		@include for-device(phone) {
			display: none;
		}

		li {
			&:nth-child(n+2) {
				margin-left: 40px;
			}

			a {
				color: $color-text;

    			&:hover {
    				color: $color-green;
    			}
			}

			.pageHeaderNavSocial {
				@include display-flex();

				li {
					&:nth-child(n+2) {
						margin-left: 20px;
					}

					.icon-size {
						@include font-size(20);
					}
				}
			}
		}

		.js-headerHover {
			a {
				transition: .2s;
			}
		}

		.pageHeaderNavDownArea {
			display: none;
		}

		.pageHeaderNavDown {
			@include align-items(center);
			@include display-flex();
			@include justify-content(space-between);

			background: rgba(255,255,255,0.95);
		    left: 0;
		    margin: auto;
		    max-width: 1000px;
		    right: 0;
		    position: absolute;
		    top: 80px;
		    width: 100%;

		    .pageHeaderNavDownHead {
		    	padding-left: 5%;

		    	&_title {
		    		@include font-size(32);

		    		line-height: 1;
		    	}

		    	&_lead {
		    		@include font-size(14);

		    		line-height: 1;
		    		margin-top: 10px;
		    	}
		    }

		    .pageHeaderNavDownMenu {
		    	@include display-flex();
		    	@include justify-content(space-between);

		    	padding: 0 5%;
		    	width: 55%;

		    	.pageHeaderNavDownMenuList {
			    	li {
			    		@include font-size(15);

			    		margin: 0 0 20px;
			    	}
		    	}
		    }
		}
	}

	.spHeaderToggle {
		display: none;

		@include for-device(tablet) {
			display: block;
		}

		@include for-device(phone) {
			display: block;
		}

		span {
			background-color: #000;
			display: block;
			height: 2px;
			position: absolute;
			right: 20px;
			width: 26px;

			&:nth-child(1) {
				top: 22px;

				@include for-device(tablet) {
					top: 30px;
				}
			}

			&:nth-child(2) {
				top: 30px;

				@include for-device(tablet) {
					top: 38px;
				}
			}

			&:nth-child(3) {
				top: 38px;

				@include for-device(tablet) {
					top: 46px;
				}
			}
		}

		&.is-active {
			span {
				transition: all 0.3s;

				&:nth-child(1) {
					top: 30px;
					transform: rotate(140deg);

					@include for-device(tablet) {
						top: 40px;
					}
				}

				&:nth-child(2) {
					display: none;
				}

				&:nth-child(3) {
					top: 30px;
					transform: rotate(-315deg);

					@include for-device(tablet) {
						top: 40px;
					}
				}
			}		
		}
	}
}

.pageHeaderMenu {
	display: none;

	&.is-open {
		background: #fff;
		display: block;
		left: 0;
		position: fixed;
		top: 80px;
		transition: .2s;
		width: 100%;
		z-index: 8888;

		@include for-device(phone) {
			top: 60px;
		}

		.pageHeaderMenuBoxList {
			@include font-size(16);

			background: $color-light-gray;

			@include for-device(phone) {
				@include font-size(13);
			}
			
			li {
				border-top: 1px solid $color-gray;

				a {
					color: $color-text;
					display: block;
					padding: 10px 5%;

		    		&:hover {
	    				color: $color-green;
	    			}
				}
			}

			&_accordion {
				padding: 10px 5%;
				position: relative;

				&::before,
				&::after {
					background: $color-green;
					border-radius: 2px;
					content: "";
					display: block;
					height: 2px;
					position: absolute;
					right: 20px;
					top: 50%;
					transform: translateY(-50%);
					width: 18px;

					@include for-device(phone) {
						height: 1px;
						right: 10px;
						width: 15px;
					}						
				}
				
				&::after {
					transform: translateY(-50%) rotate(90deg);
					transition: 0.5s;								
				} 

				&.is-active {
					background: $color-green;
					color: #fff;

					&::after {
						background: #fff;
						transform: rotate(0);
						transition: 0.5s;								
					}
				}
			}

			.is-service-menu {
				ul {
					background: #fff;
				}
			}
		}
	}
}