.top {
	padding-bottom: 0;

	.mainvisual {
		background: rgba(0, 0, 0, .10);
		height: 100vh;
		position: relative;
		width: 100%;

		@include for-device(phone) {
			height: 600px;
		}

		.mainvisualHead {
			position: absolute;
			right: 0;
			left: 0;
			margin: auto;
			top: 22%;

			@include for-device(phone) {
				padding-top: 60px;
				top: 30%;
			}

			&_title {
				@include font-size(70);

				color: #fff;
				font-family: 'Noto Serif JP', serif;
				font-weight: normal;
				left: 0;
				margin: auto;
				padding-left: 60px;
				position: absolute;
				right: 0;
				text-align: center;

				@include for-device(phone) {
					@include font-size(36);

					padding-left: 40px;
					width: 100%;
				}

				span {
					margin-right: -40px;

					@include for-device(phone) {
						margin-right: -20px;
					}
				}
			}

			&_lead {
				@include font-size(32);

				color: #fff;
				margin-top: 120px;
				text-align: center;

				@include for-device(phone) {
					@include font-size(20);

					margin-top: 60px;
				}
			}

			&_text {
				@include font-size(18);

				color: #fff;
				font-family: 'Noto Serif JP', serif;
				font-weight: 100;
				line-height: $line-height-body;
				margin-top: 40px;
				text-align: center;

				@include for-device(phone) {
					@include font-size(13);	

					margin-top: 30px;
					padding: 0 20px;
				}	
			}
		}

		.mainvisualMovie {
			bottom: 0;
			left: 0;
			position: fixed;
			right: 0;
			top: 0;
			z-index: -999;

			&_inner {
				height: 56.25vw;
				left: 50%; 
				min-height: 100%;
				min-width: 100%;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 177.77777778vh;
				z-index: -999;

				video {
					width: 100%;	
				}			
			}
		}
	}

	.section-about {
		background: rgba(0, 0, 0, .10);
		height: 100vh;
		position: relative;
		width: 100%;

		@include for-device(phone) {
			height: 600px;
		}

		.aboutArea {
			position: absolute;
			right: 0;
			left: 0;
			margin: auto;
			top: 30%;

			&_title {
				@include font-size(60);

				color: #fff;
				text-align: center;

				@include for-device(phone) {
					@include font-size(40);
				}
			}

			&_button {
				margin-top: 40px;
			}
		}			
	}

	.section-news {
		background: $color-light-gray;
		padding: 80px 0;

		@include for-device(phone) {
			padding: 40px 0;
		}

		.section-news-title {
			h2 {
				@include font-size(60);

				color: $color-green;

				@include for-device(phone) {
					@include font-size(40);
				}
			}

			h3 {
				@include font-size(16);

				color: $color-light-black;
				font-size: 16px;
				font-weight: normal;
				margin-top: 10px;

				@include for-device(phone) {
					@include font-size(13);
				}
			}
		}

		.newsArea {
			margin: 40px auto 0;
			max-width: 1000px;
			width: 100%;

			@include for-device(phone) {
				margin-top: 20px;
			}

			ul {
				li {
					margin-top: 20px;

					dl {
						@include display-flex();
						@include font-size(15);

						border-bottom: 1px solid $color-gray;
						color: $color-text;
						padding: 0 0 20px;

						@include for-device(phone) {
							@include flex-wrap(wrap);
							@include font-size(14);

							padding-bottom: 10px;
						}

						dt {
							width: 20%;

							@include for-device(phone) {
								width: 100%;
							}
						}

						dd {
							font-weight: bold;
							width: 80%;

							@include for-device(phone) {
								margin-top: 5px;
								width: 100%;
							}
						}
					}
				}
			}
		}

		.button-more {
			margin-top: 40px;
			text-align: center;
		}
	}

	.top-service-head {
		background: #fff;
		padding: 120px 0;

		@include for-device(phone) {
			padding: 50px 0 0;
		}
		
		.title {
			@include font-size(30);

		}		
	}

	.top-service {
		@include align-items(center);
		@include display-flex();

		background: #fff;
		height:100vh;
		padding: 100px 0;
		position: relative;
		z-index: 100;

		@include for-device(tablet) {
			height: auto;
		}

		@include for-device(phone) {
			height: auto;
			padding: 50px 0;
		}

		&::after {
			background-image: url("https://ad-tokiwa.jp/wp-content/themes/conrize/assets/images/top/service_bg_1.jpg");
			background-position: right;
			background-size: 60%;
			background-attachment: fixed;
			background-repeat: no-repeat;
			position: absolute;
			content: "";
			top: 0px;
			right: 0px;
			height:100%;
			width: 100%;
			z-index: -100;

			@include for-device(tablet) {
				background-attachment: scroll;
				height: 70%;
				top: 15%;
			}

			@include for-device(phone) {
				display: none;
			}
		}

		&.is-ad {
			@include for-device(phone) {
				border-top: 1px solid $color-light-gray;
			}

			&::after {
				background-image: url("https://ad-tokiwa.jp/wp-content/themes/conrize/assets/images/top/service_bg_2.jpg");
			}				
		}

		&.is-production {
			@include for-device(phone) {
				border-top: 1px solid $color-light-gray;
			}

			&::after {
				background-image: url("https://ad-tokiwa.jp/wp-content/themes/conrize/assets/images/top/service_bg_3.jpg");
			}				
		}

		.container {
			@include for-device(tablet) {
				width: 100%;
			}
		}

		.serviceBox {
			&_number {
				@include font-size(20);

				color: $color-green;
				font-style: italic;	
				line-height: 1;

				&::before {
					border-top: 2px solid $color-green;
					content: "";
					display: inline-block;
					height: auto;
					left: 0;
					margin-right: 10px;
					position: relative;
					top: -7px;
					width: 60px;

					@include for-device(phone) {
						width: 30px;
					}
				}

				@include for-device(phone) {
					@include font-size(18);

					top: -5px;
				}		
			}

			&_title {
				@include font-size(100);

				color: $color-green;
				font-weight: 500;
				margin-top: 20px;

				@include for-device(phone) {
					@include font-size(50);
				}
			}

			&_lead {
				@include font-size(16);

				font-weight: normal;
				margin-top: 10px;

				@include for-device(phone) {
					@include font-size(13);
				}
			}

			&_text {
				@include font-size(15);

				margin-top: 60px;
				width: 30%;

				@include for-device(phone) {
					@include font-size(13);

					margin-top: 30px;
					width: 100%;
				}
			}

			&_img {
				@include for-device(phone) {
					margin-top: 40px;
				}
			}

			.button-more {
				display: inline-block;
				margin-top: 60px;
				text-align: left;

				@include for-device(phone) {
					margin-top: 30px;
				}
			}
		}
	}

	.top-other {
		background: #fff;
		border-top: 1px solid $color-gray;
		padding: 60px 0;

		@include for-device(phone) {
			padding: 0;
		}

		.otherArea {
			@include display-flex();
			@include justify-content(space-between);

			@include for-device(phone) {
				@include flex-wrap(wrap);
			}

			.otherAreaBox {
				padding: 60px 10%;
				width: 50%;

				@include for-device(tablet) {
					padding: 50px 5%;
				}

				@include for-device(phone) {
					width: 100%;
				}

				&.is-border-left {
					border-left: 1px solid $color-gray;

					@include for-device(phone) {
						border-left: 0px;
						border-top:  1px solid $color-gray;
					}
				}

				&_number {
					@include font-size(20);

					color: $color-green;
					font-style: italic;	
					line-height: 1;

					&::before {
						border-top: 2px solid $color-green;
						content: "";
						display: inline-block;
						height: auto;
						left: 0;
						margin-right: 10px;
						position: relative;
						top: -7px;
						width: 60px;

						@include for-device(phone) {
							width: 30px;
						}
					}

					@include for-device(phone) {
						@include font-size(18);

						top: -5px;
					}		
				}

				&_title {
					@include font-size(50);

					color: $color-green;
					margin-top: 20px;

					@include for-device(phone) {
						@include font-size(30);

						margin-top: 10px;
					}					
				}

				&_lead {
					@include font-size(16);

					font-weight: normal;
					margin-top: 10px;						
				}

				&_text {
					margin-top: 20px;					
				}

				.button-more {
					margin-top: 40px;
				}

				.thumbnail {
					margin-top: 40px;
				}
			}
		}
	}

	.top-works {
		background: #fff;
		border-top: 1px solid $color-gray;
		padding: 100px 0;

		@include for-device(phone) {
			padding: 50px 0;
		}

		.heading {
			&_title {
				@include font-size(80);

				color: $color-green;

				@include for-device(phone) {
					@include font-size(50);
				}
			}

			&_lead {
				@include font-size(16);

				font-weight: normal;
				margin: 10px 0 0 10px;

				@include for-device(phone) {
					@include font-size(13);
				}
			}
		}

		.thumbnail {
			margin-top: 60px;

			@include for-device(phone) {
				margin-top: 30px;
			}
		}

		.button-more {
			margin-top: 60px;

			@include for-device(phone) {
				margin-top: 30px;
			}
		}
	}
}
